@model Common.ViewModels.ResponseViewModel.UserResponseViewModel

@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <ul>
            <li>@Model.Id</li>
            <li>@Model.CNP</li>
            <li>@Model.FullName</li>
            <li>@Model.Balance</li>
            <li>@Model.Username</li>
            </ul>
    </div>
</div>
