@model Common.ViewModels.ResponseViewModel.UserResponseViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>My Account Details</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNP)
        </dd>
        <dt>
            @Html.DisplayName("First Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayName("Last Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance) lei
        </dd>
        <dt>
            @Html.DisplayName("Date Of Birth")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
    @Html.ActionLink("Add Money", "Deposit", "Payment", null, new { @class = "btn btn-sm btn-info" })
</div>