@model IEnumerable<Common.ViewModels.ResponseViewModel.TransactionResponseViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>My Transactions</h2>
<hr/>

<table class="table table-responsive table-hover">
    <thead style="background-color: #112d55">
        <tr  style="color: white">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new{ @class = "btn btn-info btn-sm"})
            </td>
        </tr>
}
    </tbody>
</table>
