@using Common.Enums
@model IEnumerable<Common.ViewModels.ResponseViewModel.InvoiceResponseViewModel>

@{
    ViewData["Title"] = "Electrica Invoices";
}
<br/>
<h2>Electrica Invoices</h2>
<hr />
<table class="table  table-responsive table-hover">
    <thead style="background-color: #112d55">
        <tr style="color:white">
            <th>
                @Html.DisplayName("Invoice Id")
            </th>
            <th>
                @Html.DisplayName("Provider")
            </th>
            <th>
                @Html.DisplayName("CNP")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayName("Start Date")
            </th>
            <th>
                @Html.DisplayName("End Date")
            </th>
            <th>
                @Html.DisplayName("Payment Date")
            </th>
            <th>
                @Html.DisplayName("Payed Value")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCNP)
            </td>
            <td>
                @if (item.Address.Length > 20)
                {
                    item.Address = item.Address.Substring(0, 20) + "...";
                }
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @item.StartDate.Date.ToShortDateString()
            </td>
            <td>
                @item.EndDate.Date.ToShortDateString()
            </td>
            <td>
                @item.PaymentDate.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayedValue)
            </td>
            @if(item.PayedValue >= item.Value || item.PaymentDate < DateTime.Now)
            {
                <td></td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Plateste", "Pay", "Payment", new {InvoiceId = item.InvoiceId, Provider = PaymentUserType.InternElectrica, Value = item.Value-item.PayedValue}, new {@class = "btn btn-sm btn-info"})
                </td>
            }
        </tr>
}
    </tbody>
</table>
