@using Common.Enums
@model IEnumerable<Common.ViewModels.ResponseViewModel.InvoiceResponseViewModel>

@{
    ViewData["Title"] = "EONInvoices";
}

<h2>EONInvoices</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCNP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayedValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @item.StartDate.Date.ToShortDateString()
            </td>
            <td>
                @item.EndDate.Date.ToShortDateString()
            </td>
            <td>
                @item.PaymentDate.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayedValue)
            </td>
            <td>
                <button class="btn">@Html.ActionLink("Plateste", "Pay", "Payment", new {InvoiceId = item.InvoiceId, Provider = PaymentUserType.InternEON})</button>
            </td>
        </tr>
}
    </tbody>
</table>
